.title-img-container {
  height: 28vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  outline: none;
}

.main-blog {
  top: 28vh;
}

.resume-blog {
  top: 5vh;
}

@media only screen and (min-width: 530px) {
  .title-img-container {
    height: 40vh;
  }

  .main-blog {
    top: 40vh;
  }
}

@media only screen and (min-width: 900px) {
  .title-img-container {
    height: 67vh;
  }

  .main-blog {
    top: 67vh;
  }
}

.title-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.blog-title {
  color: var(--hero-reg);
  font-weight: 800;
  font-size: 2rem;
  margin: 1rem 0;
  text-decoration: underline;
}

.info-item {
  font-size: 0.85rem;
  color: var(--hero-reg);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.title-block {
  width: clamp(70%, 60rem, 90%);
}

/* ------- Inside md-block --------- */

md-block {
  width: clamp(50%, 45rem, 90%);
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
  font-size: 0.85rem;
}

.md-block {
  width: clamp(50%, 45rem, 90%);
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
  font-size: 0.85rem;
}

md-block p {
  margin: 0.5rem 0;
}

md-block h2 {
  text-align: center;
  color: var(--hero-reg);
  margin: 1rem 0 0.5rem;
  font-weight: 400;
}

md-block h3 {
  text-align: center;
  font-weight: 400;
  color: var(--hero-reg);
  margin: 0.75rem 0 0.5rem;
}

md-block h4 {
  text-align: center;
  font-weight: 400;
  color: var(--hero-reg);
  margin: 0.75rem 0 0.5rem;
}

md-block img {
  object-fit: contain;
  margin: 0.5rem 0;
}

md-block p a {
  color: var(--hero-reg);
}

md-block td img {
  margin: 0
}

th {
  text-align: left;
}

.table-center th {
  text-align: center;
}
.table-center td {
  text-align: center;
}

/* ------- Resume -------- */

.resume-item {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0 0.3rem;
  color: var(--hero-reg);
}

.resume-item-title {
  font-weight: 600;
}

md-block ul {
  margin: 0;
}

/* ------- Slide pics ---------- */

.slide-container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--hero-faded);
  margin-bottom: 0.5rem;
  height: fit-content;
}

.slide-pic-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}

.slide-pic-container-left {
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
}

.slide-pic-container-right {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
}

.slide-pic {
  width: 100%;
  height: auto;
  margin: 0;
}

.slide-control-panel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: var(--hero-reg);
  z-index: 100;
}

.slide-control-panel .material-symbols-outlined {
  cursor: pointer;
  user-select: none;
}