
/* Fonts */
/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v27-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v27-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v27-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-300italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v27-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v27-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/open-sans-v27-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-500italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v27-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v27-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v27-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Wingdings 3';
    src: url('../fonts/WINGDNG3.TTF');
  }

div{
    font-family:"Open Sans";
}

.project-margin{
    margin:0rem 1rem;
}

/* About me part */

.resume-main{
    padding:1rem 0rem;
    width:100%;
    cursor:pointer;
    display:table;
}

.resume-time{
    float:left;
    width:30%;
    font-size:16px;
    font-weight:500;
}
.resume-headline{
    font-size:14px;
    width:60%;
    font-weight:400;
    float:left;
}

.resume-collapse{
    box-sizing:border-box;
    font-size:14px;
    font-weight:300;
    width:100%;
    max-height: 0;
    border-bottom:1px solid #ddd;
    background-color: #fff;
    display:none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    float:left;
    padding: 0.5rem 0rem;
}

.project-collapse{
    box-sizing:border-box;
    font-size:14px;
    font-weight:200;
    width:100%;
    max-height: 0;
    background-color: #fff;
    display:none;
    padding-bottom:7px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    float:left;
    text-align:left;
    margin-bottom:1.5rem;
    padding-left:0rem;
    padding-right:0rem;
}

.clearfix::after {
    content: "";
    clear:both;
    display: table;
}

.resume-main:after{
    font-family:"Wingdings 3";
    content:"\0080";
    font-size:11px;
    color:#ccc;
    float:right;
    width:10%;
    text-align:right;
}

.resume-main.active:after{
    content:"\007E"
}



.project-title:after{
    font-family:"Wingdings 3";
    content:"\0080";
    font-size:13px;
    color:#ccc;
    width:10%;
    text-align:right;
}
.project-title.active:after{
    content:"\007E"
}

.resume-border{
    border-bottom:1px solid #ddd!important;
    padding-bottom: 5px;
}

.resume-main.active, .resume-main:hover{
    background-color:#fff;
}

.project-title.active, .project-title:hover{
    background-color:#fff;
}


/* Other supplemental */

.title-text{
    box-sizing:border-box;
    padding:15px 5px 10px 0px;
    font-size:11px;
    font-weight:400;
    width:160px;
    float:left;
    text-align:justify;
    color:rgb(119, 119, 119);
    background-color:rgba(255,255,255,0.8);
}

.main{
    box-sizing:border-box;
    background-color:#fff;
    position:relative;
    width:calc(100% - 8rem);
    max-width:90rem;
    z-index:1;
    box-shadow:2px 2px 1px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.06);
    border-radius:10px; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3rem;
    padding:0rem 2rem 2rem 2rem;
}

.main-embed{
    box-sizing:border-box;
    position:relative;
    width:100%;
    z-index:0;
    border-radius:10px; 
    margin-left:3rem;
    margin-right:0;

}

#main2{
    position:relative;
    margin-top:0.5rem;
    width:calc(100% - 6rem);
    z-index:1;
    padding:0px 10px 0px 10px;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}

#main3{
    background-color:#fff;
    box-sizing:border-box;
    padding:20px 10px 10px 10px;
    box-shadow:2px 2px 1px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.06);
    border-radius:10px;
    margin:1rem;
    margin-top:1rem;
}

.major-column{
    padding: 10px;
}

.title-text{
    padding-top:15px;
    font-size:11px;
    font-weight:400;
    width:35%;
}

.page-title{
    font-weight:800;
}

.page-sub-title{
    font-weight:800;
    float:left;
    color:#000;
    clear:left;
}

@media screen and (min-width: 1000px) {
    .page-title {
      font-size: 40px;
      
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .page-title {
      font-size: 35px;
    }
}
  

 @media screen and (max-width: 700px) {
    .page-title {
      font-size: 30px;
    }
 }

@media screen and (min-width: 1200px) {
    .page-sub-title {
      font-size: 25px;
    }
}
  

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .page-sub-title {
      font-size: 20px;
    }
}

 @media screen and (max-width: 700px) {
    .page-sub-title {
      font-size: 16px;

    }
 }

.nav-card{
    border-radius:5px;
    width:100%;
    margin:auto;
    display:block;
    position:fixed;
    top:0px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.10),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color:#fff;
}

nav .navCont ul li{
    display:inline-block
}

.aboutme-column-padding{
    padding:8px 0px!important
}

.major-column-padding{
    padding:0px 0px!important
}
.major-single-padding{
    padding:8px 12px!important
}

.header-left{
    position:absolute;
    top:7rem;
    left:5%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.section-title{
    font-weight:800;
    text-align:left;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius:5px;
    padding-top:1.5rem;
    color:#000;
    padding-left:0.5rem;
}



.download-button{
    font-weight:600;
    text-align:left;
    margin-bottom:1rem;
    border-radius:5px;
    padding-top:1.5rem;
    color:#000;
    padding-left:0.5rem;
    margin-right:1.4rem;
}


@media screen and (min-width: 1000px) {
    .section-title {
      font-size: 30px;
    }
}
  

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .section-title {
      font-size: 25px;
    }
}

 @media screen and (max-width: 700px) {
    .section-title {
      font-size: 20px;

    }
 }

 @media screen and (min-width: 1000px) {
    .download-button {
        margin-top:1.5rem;
    }
}
  

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .download-button {
        margin-top:1.2rem;
    }
}

 @media screen and (max-width: 700px) {
    .download-button {
        margin-top:1rem;

    }
 }


.project-title-main{
    font-size:14px;
    text-align:left;
    font-weight:300;
    cursor:pointer;
    margin-bottom:1.3rem;

}

.footer-text{
    font-family:Open Sans;
    font-weight:400;
    font-size:14px;
    text-align:left;
    font-weight:300;
    color:#fff;
}

.project-title-bold{
    font-family:"Open Sans" Helvetica sans-serif;
    font-size:20px;
    text-align:left;
    font-weight:500;
    margin-top:1rem;
    cursor:pointer;

}

/*Navigation bar*/

nav .nav-container{
    float:right;
}

nav .nav-container ul{
    padding:0; margin:0;
}

nav .nav-container ul li{
    width:auto;
    text-align:center;
    border:none;
    white-space:normal;
    padding:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:#fff;
    font-weight:3200;
    display:inline-block;
}



nav .nav-container ul li a {
    color:#000;
    text-decoration:none;
}

@media screen and (min-width: 1000px) {
    nav .nav-container ul li {
        font-size:20px;
    }
}
  
@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav .nav-container ul li{
        font-size:17px;
    }
}

 @media screen and (max-width: 700px) {
    nav .nav-container ul li {
        font-size:14px;
    }
 }

 nav .nav-container ul li.active{
    font-weight:700;
    transition: 0.3 ease font-weight;
}


.contact-icon{
    width:auto;
    text-align:center;
    border:none;
    white-space:normal;
    padding:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:#fff;
    font-weight:200;
    display:inline-block;
}

@media screen and (min-width: 1000px) {
    .contact-icon {
        font-size:25px;
    }
}
  
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .contact-icon{
        font-size:20px;
    }
}

 @media screen and (max-width: 700px) {
    .contact-icon {
        font-size:14px;
    }
 }

.img-project{
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.carousel-control-prev{
    color:#000;
}

#page-head-image{
    min-height:60vh;
    max-height:110vh;
    object-fit: cover;
    position:relative;
    object-position: center 80%;
}

@media screen and (min-width: 1400px) {
    #page-head-image {
        margin-top:1.5rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    #page-head-image {
        margin-top:4rem;
    }
}
  

@media screen and (min-width: 700px) and (max-width: 1000px) {
    #page-head-image {
        margin-top:5rem;
    }
}

 @media screen and (max-width: 700px) {
    #page-head-image {
        margin-top:7rem;

    }
 }

/*Project*/




#project-page-head-image{
    min-height:70vh;
    max-height:90vh;
    object-fit: cover;
    border-radius:8px;
    object-position: center bottom;
}

#project-page-head-image2{
   
    max-height:90vh;
    object-fit: cover;
    border-radius:8px;
    object-position: center bottom;
}

.page-title-section{
    position:absolute;float:left;right:0;
    text-align:left;
    top:5rem;
    left:3rem;
}




.project-page-title{
    font-size: 50px!important;
    font-weight:900;
    border-radius:5px;
    margin-bottom:10px;
    text-align:center;
    margin-top:2rem;
}

.project-page-subtitle{
    font-size: 30px!important;
    font-weight:300;
    border-radius:5px;
    text-align:center;
    max-width:45rem;
    margin:auto;
    margin-bottom:2rem;
    padding:0rem 1rem;
}

#intro-text{
    font-size:16px;
    font-weight:600;
    padding:2rem 1rem 2rem 0rem;
    text-align:left;
    margin:auto;
}

#project-info{
    margin-top:10rem;
    font-size:16px;
    font-weight:300;
    padding:2rem 1rem 2rem 0rem;
    text-align:left;
}

#project-info-bold{
    
    font-size:16px;
    font-weight:400;
    padding:2rem 1rem 2rem 0rem;
    text-align:left;
}

@media screen and (min-width: 1200px) {
    #project-info-bold {
        margin-top:10rem;
    }
}
  

@media screen and (min-width: 700px) and (max-width: 1200px) {
    #project-info-bold{
        margin-top:7rem;
    }
}

 @media screen and (max-width: 700px) {
    #project-info-bold {
        margin-top:4rem;

    }
 }

 #project-section-title{
    font-size:20px;
    font-weight:700;
    text-align:left;
    padding-bottom:10px;
    margin:0.5rem;
    margin-left:1.5rem;
}

#project-text{
    font-size:16px;
    font-weight:300;
    padding:0rem 1.5rem 1.5rem;
    text-align:left;
    margin:auto;
}

#project-text-caption{
    font-size:16px;
    font-weight:600;
    padding:0rem 1.5rem 1.5rem;
    text-align:center;
    margin:auto;
}

#project-img{
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    padding:0rem 1.5rem 1.5rem;
    cursor:pointer;
    object-fit: contain;
}

#project-img-sm{
    width:100%;
    max-width:28rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    padding:0rem 1.5rem 1.5rem;
    cursor:pointer;
    object-fit: contain;
}

#project-img-xsm{
    width:100%;
    max-width:20rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    padding:0rem 1.5rem 1.5rem;
    cursor:pointer;
    object-fit: contain;
}


#project-img-md{
    width:100%;
    max-width:40rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    padding:0rem 1.5rem 1.5rem;
    cursor:pointer;
    object-fit: contain;
}

#project-img-modal{
    height:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    padding:0rem 1.5rem 1.5rem;
    max-height:47.5rem;
    max-width:100%;
    -o-object-fit: contain;
    object-fit: contain;
}


.modal-backdrop {
    z-index: -1;
    display:none
}

#modal-main{
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.10),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius:10px;
    border-color:#fff;
    
}

.choice{
    display:inline-block;
    font-size:18px;
    font-weight:400;
    padding:0rem 0.5rem 0.2rem 0.5rem;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    cursor:pointer;
}

.choice a{
    color:black;
    text-decoration:none;
}

.download-resume{
    display:inline-block;
    font-size:18px;
    font-weight:400;
    padding:0rem 0.5rem 0.2rem 0.5rem;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    cursor:pointer;
}

.choice:hover, .choice a:hover{
    background-color:black;
    color:white;
}

.choice.active{
    background-color:black;
    color:white;
}

    /* Intro */

	#intro {
		color: #000000;
		padding: 8rem 4rem 6rem 4rem;
		position: relative;
		cursor: default;
		text-align: left;
		z-index: 1;
		min-height: 100vh;
        left:3%;
	}
	@media screen and (max-width: 980px) {
		#intro {
			padding: 4rem 4rem 2rem 4rem ;
			min-height: 90vh;
		}
			#intro p br {
				display: none;
			}
			#intro + #header {
				margin-top: -14rem;
			}
	}	
	@media screen and (max-width: 736px) {
		#intro {
			padding: 3rem 2rem 1rem 2rem ;
			min-height: 80vh;
		}
			#intro h1 {
				font-size: 3.25rem;
				line-height: 1.1;
				margin-bottom: 1rem;
                margin-top:3rem;
			}
			#intro p {
				font-size: 1rem;
				margin-top: 0rem;
	}

