.popover-header {
    font-size: 13px;
    height:100%;
    background-color:#fff;
    line-height:1;
    margin-top:0;
}

.popover-body {
    font-size: 12px;
    padding-top:5px;
    padding-bottom:5px;
}