/* -------- Main and sidebar ---------- */

.sidebar {
  height: 100vh;
  width: calc(var(--sidebar-width) + 2rem);
  position: fixed;
  display: flex;
  gap: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.sidebar-hidden {
  transform: translateX(calc(-300px + 2rem));
}

.main {
  width: calc(100vw - var(--sidebar-width) + 2.5rem);
  position: fixed;
  left: calc(var(--sidebar-width) - 2.5rem);
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  overflow: auto;
}

.main-full-width {
  width: 100vw;
  left: 0;
}

.sidebar-main {
  width: calc(var(--sidebar-width) - 2rem);
  height: 100%;
  pointer-events: auto;
  background-color: white;
  box-shadow: var(--shadow-layer-2);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-left: 2rem;
}

.sidebar-toggle {
  width: 2rem;
  pointer-events: auto;
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-reg);
}

.sidebar-toggle .material-symbols-outlined {
  font-size: 1.8rem;
  font-weight: 800;
  user-select: none;
}

.sidebar-title {
  color: var(--text-gray);
  font-size: 0.75rem;
  display: flex;
  justify-self: center;
  font-weight: 300;
  margin: 1.5rem 0 0.5rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.sidebar-menu-title {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  color: var(--hero-reg);
}

.sidebar-menu-title:hover {
  text-decoration: underline;
  font-weight: 900;
}

.sidebar-menu-item {
  font-weight: 300;
  color: var(--hero-reg);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;  
}

.sidebar-menu-item:hover {
  text-decoration: underline;
  font-weight: 600;
  font-size: 0.9rem;
}

.sidebar-menu-item-selected {
  text-decoration: underline;
  font-weight: 600;
  font-size: 0.9rem;
}

.sidebar-menu-collapsible {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: -0.25rem;
}

#sidebar button {
  padding: 0 0.2rem;;
}

#sidebar button a {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.4;
  align-items: center;
  gap: 0.1rem;
}

#sidebar button:hover a {
  color: white;
}

#sidebar .project-buttons-group {
  display: flex;
  gap: 0.2rem;
}

.contacts-group {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}